<header class="header">
  <p class="header-title">
    <a href="https://github.com/FountainJS/generator-fountain-webapp" target="_blank" rel="noopener noreferrer">
      Fountain Generator
    </a>
  </p>
  <p class="header-date">
    Generated with FountainJS v1.0.0 on Wed Jul 18 2018 14:02:10 GMT+0300 (Israel Daylight Time)
  </p>
</header>
